{% extends 'main.html' %}

{% block content %}

<div class="auth">
    <div class="card">
      <div class="auth__header text-center">
        <h3>Password reset sent</h3>
      </div>

        <div class="form__field">
          <label for="formInput#email">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</label>

            <label for="formInput#email">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder. </label>
        </div>
    </div>
  </div>


{% endblock content %}